<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__list">
          <li class="main-header__item">
            <a class="active" href="/">Index</a>
          </li>
          <li class="main-header__item">
            <a href="/user/add-user">User</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <h1 class="main-content__header">Welcome to the Landing Page!!!</h1>
    </main>
  </body>
</html>
